<template>

  
  <div class="container">
   <div class="form-group">
     <label for="age">Age</label>
     <input type="text" class="form-control" id="inputAge" placeholder="What is your age?" name="age" required>
   </div>

   <div class="form-group">
      <label for="retireAge">Retire Age</label>
      <input type="text" class="form-control" id="inputRetireAge" placeholder="When will you retire?" name="retireAge">
    </div>

    <div class="form-group">
      <label for="deathAge">DeathAge</label>
      <input type="text" class="form-control" id="inputDeathAge" placeholder="Estimated death age?" name="deathAge">
    </div>

    <div class="form-group">
      <label for="yearlyContributions">Yearly Contributions</label>
      <div class="inner-addon left-addon">
        <i class="glyphicon glyphicon-usd"></i>
        <input type="text" class="form-control" id="inputYearlyContributions" placeholder="What are your yearly contributions?" name="yearlyContributions">
        <small id="yearlyContributionHelpLine" class="text-muted">
          This is a helper text for the yearly contributions
        </small>
        </div>
    </div>

    <div class="form-group">
      <label for="initialAmount">Initial Amount - <i><span style="color: rgb(131, 128, 128)">Optional</i></span></label>
      <div class="inner-addon left-addon">
      <i class="glyphicon glyphicon-usd"></i>
      <input type="text" class="form-control" id="inputInitialAmount" placeholder="What is your initial amount?" name="initialAmount">
      </div>
    </div>
    
    <div class="form-group">
      <label for="portfolio">Portfolio</label>
      <div class="list-group-horizontal">
        <a href="#" class="list-group-item">Stock%</a>
        <a href="#" class="list-group-item">Bond%</a>
        <a href="#" class="list-group-item">Savings%</a>
        <small id="yearlyContributionHelpLine" class="text-muted">
          This is a helper text for the yearly contributions
        </small>
      </div>
    </div>

    <div class="form-group">
      <label for="desiredSpendings">Desired Spendings</label>
      <div class="inner-addon left-addon">
      <i class="glyphicon glyphicon-usd"></i>
      <input type="text" class="form-control" id="inputDesiredSpendings" placeholder="What is your desired spendings?" name="desiredSpendings">
      </div>
    </div>

    <div class="form-group">
      <label for="yearInRetirements">Year in Retirement</label>
      <div class="inner-addon left-addon">
      <i class="glyphicon glyphicon-usd"></i>
      <input type="text" class="form-control" id="inputYearInRetirement" placeholder="In how many year will you retire?" name="yearInRetirement">
      </div>
    </div>

    <div id="wrapper">
    <input type="submit" value="Submit" click.delegate="submitFormButton()">
    </div>
</template>
